### Haskell
*.o
*.hi
*.chi
*.chs.h
*.dyn_o
*.dyn_hi
*.prof
*.aux
*.hp
*.eventlog
# Stack
.stack-work/
stack.yaml.lock
out

### IDE/support
TAGS
.idea
*.iml
.vscode

# Frontend
frontend/node_modules

# other
build
.DS_Store
*.iml
.idea
.vscode
build
backend/out
